
.category-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    position: relative;
    left: 50%; 
    top: 45%;
    transform: translate(-50%, -50%); 
    width: 1025px;
    height: 93px;
  }
  


.category-button {
  border-style: none;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease-in-out
}

.category-button button {
  background: none; 
  border: none; 
  padding: 0;
  cursor: pointer;
  border-style: none;
}


.category-button img {
  width: 80px; 
  height: 80px;
}


.category-button:hover {
  transform: scale(1.05);
  border-color: #f0f2f4; 
}
