@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* https://stackoverflow.com/questions/9182978/semi-transparent-color-layer-over-background-image*/
.footer {
  width: 100%;
  height: 90%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(rgb(73 97 61 / 70%), rgb(73 97 61 / 80%)),
    url("./../images/tree_background.png");
  background-size: cover;
  background-position: center;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.footer h4 {
  font-weight: 400;
}

.container {
  display: flex;
  gap: 4rem;
  margin-top: 70px;
}

.item {
  flex-grow: 1;
  height: 300px;
  max-width: 450px;
}

.item.one {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.item.one h1 {
  font-size: 60px;
  margin: 0;
  padding-left: 40px;
}

.item.one h4 {
  padding-left: 40px;
}

.copyright {
  position: fixed;
  display: flex;
  padding-left: 40px;
  padding-top: 30px;
  bottom: 30px;
  gap: 33rem;
  border-top: 1px solid #fff;
  width: 100%;
}
