.listing-page-rules {
    background: rgba(250, 248, 248, 0.75);
    padding-left: 50px;
    font-family: "Montserrat";
    padding-right: 30%;
    color: #9a9a9a;
    padding-bottom: 1%;
  }
  
  .rules-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #484848;
    padding-top: 2%;
    padding-bottom: 1.5%;
  }
  
  .listing-rules {
    color: #9a9a9a;
    padding-bottom: 2%;
    display: flex;
    align-items: center;
  }
  
  .rules-icon {
      display: flex; /* Use flexbox to align items horizontally */
      align-items: center; /* Align items vertically in the center */
      margin-left: 15px; /* Optional: Add some space between the icon and the text */
      
    }
  
  .rules-icon span{
      margin-left: 10px;
      line-height: 150%;
    display: inline-block; /* Ensure the span is treated as an inline-block */
      line-height: 1; /* Adjust line height for better vertical centering */
      vertical-align: middle; /* Ensures text aligns with the icon */
      line-height: 300%;
  }