.available-date {
    background-color: #5e6b58 !important; /* mörkgrön */
    color: white !important;
    border-radius: 2px;
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .unavailable-date {
    background-color: #deefdf !important; /* ljusgrön */
    color: black !important;
    border-radius: 2px;
    width: 100%;
    height: 100%;
  }
  
  .react-calendar__tile {
    font-size: 0.75rem; /* Ändra till önskad storlek, t.ex. 12px */
    padding: 10px;
    margin-top: 14px;
  }
  /* استهداف شبكة الأيام داخل التقويم */
.react-calendar__month-view__days {
  display: grid !important;
  grid-template-columns: repeat(7, 1fr);
  gap: 3px; /* ← المسافة بين الأيام (يمكن تغيير الرقم حسب رغبتك) */
  width: 100%;
  padding: 12px;
  padding-right: 2px;
}

.price-label {
  font-size: 8px;
  text-align: center;
  color: rgb(245, 242, 242);
  position: absolute;
  bottom: 0.5px;
  width: 100%;
  left: 0;
  /* margin-top: 6px;
  padding-top: 6px; */
  pointer-events: none;
}

/* عند وضع الماوس على أي يوم */
.react-calendar__tile:hover {
  background-color: #b2d8b2 !important; /* لون أخضر فاتح */
  transform: scale(1.05); /* تكبير بسيط */
  transition: all 0.2s ease-in-out;
}

/* عند اختيار (الضغط على) يوم */
.react-calendar__tile--active {
  background-color: #789e66 !important; /* أخضر غامق مميز */
  color: white !important;
  font-weight: bold;
  border-radius: 6px;
}
