.listing-page-amenities {
  padding-left: 50px;
  width: 100%;
  padding-right: 35%;
  font-family: "Montserrat";
}

.amenities-heading {
  font-size: 22px;
  color: #484848;
}

.amenities-container {
  padding-top: 3%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding-bottom: 2%;
}

.amenity {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.amenity-icon {
  font-size: 1.5rem;
  color: #333;
}

.amenity-text {
  font-size: 1rem;
  color: #333;
}
