
.checkform {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
    background-color: #f3f6f4; 
    min-height: 100vh;
  }
  
  
  .payment-form {
    background-color: #f4f2f2;
  border: 2px solid #022a17;
  border-radius: 16px;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  padding-left: 4px;
  padding-right: 4px;
  box-shadow: 0 4px 12px rgba(158, 197, 172, 0.15);
  max-width: 500px;
  width:150%;
  min-height: 450px;
  margin-right: 0;
  margin-left: 0;
  font-family: "Segoe UI", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 1rem; 
  }
  
  
  .payment-form h2 {
    color: #065f46;
    text-align: center;
    margin-bottom: 20px;
  }
  

  .payment-form p {
    color: #064e3b;
    font-weight: 500;
    margin: 10px 0;
  }
  
  /* Stripe Card input */
   .cardelement {
    width: 100%;
  max-width: 250px;
  height: 60px;
  padding-left: 0;
  padding-right: 0;
  border-radius: 12px;
  border: 2px solid #03532e;
  background-color: #e5e8e8;
  box-shadow: inset 0 0 6px rgba(16, 185, 129, 0.15);
  transition: border-color 0.3s ease;
  margin-bottom: 6px;
  
  align-items: center;
    justify-content: center;
  } 
  .StripeElement {
    font-size: 3rem;
  padding: 4px 4px;  
    margin: 1rem;
    width: 500%;
    height: 10px; 
    max-width: 100px;
    min-height: 950px;
    background-color: transparent;
    color: red;
    border: 12px;
    align-items: center;
    justify-content: center;
  }
  .cardelement:focus-within {
    border-color: #0b0b0b;
    box-shadow: 0 0 0 3px rgba(16, 185, 129, 0.2);
  }
  
 
  .payment-form button {
    background-color: #064a33;
  color: white;
  padding: 14px 28px;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 60%;
  }
  
  .payment-form button:hover {
    background-color: #059669;
  }
  

  .payment-form .error {
    color: red;
    margin-top: 10px;
    text-align: center;
  }
  