.search-bar {
  display: flex;
  justify-content: center;
  position:relative;
  top: 30%;
}

form {
  display: flex;
  justify-content: space-around;
  background-color: white;
  align-items: center;
  border-radius: 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  gap: 20px;
  font-family: "Montserrat", sans-serif;
}

.search-section {
  display: flex;
  flex-direction: column;
}

.search-section:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.label {
  font-size: 12px;
  color: #989191;
  margin-bottom: 2px;
  font-weight: bold;
}

.value {
  font-size: 1rem;
  color: #2e5724;
  margin-top: 2%;
  border: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
}

.search-button {
  display: flex;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  background-image: url("../assets/round-search.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.search-button img {
  width: 2rem;
  height: 2rem;
}

.search-button:hover {
  transform: scale(1.05);
}

::placeholder {
  color: #2e5724;
}

select {
  width: 20px;
  text-align: center;
}
